<div class="col-md-4">
<div class="card mb-4 box-shadow">
    <% if(pet.image) { %>
        <img class="card-img-top" 
        src="<%= pet.image %>" 
        alt="<%= pet.name %>" >
        <%} else { %>
        <img class="card-img-top" 
        src="/images/pending.jpg" 
        alt="<%= pet.name %>" >
        <% } %>
        <div class="card-body">
            <h5 class="card-title"><%=pet.name%></h5>
            <h6 class="card-title">Age: <%=pet.age%></h6>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
</div>