<% include ../partials/header 

renderKindOptions = function(kind) {
    let result = '<option value="">Choose...</option>'
    let options = ["Dog", "Cat", "Bird", "Fish", "Other"]
    options.forEach((option) => {
        if(kind.toLowerCase() === option.toLowerCase()) {
            result += '<option value="' + option.toLowerCase() + '" selected>' + option + '</option>'
        } else {
            result += '<option value="' + option.toLowerCase() + '">' + option + '</option>'
        }
    })
    return result
}



%>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">List Your Pet</h1>
    <p class="lead">Use the form below to enter the information about your pet.</p>
  </div>
<div class="container">   

  <div class="row">
    <div class="col-md-12 order-md-1">
      <h2 style="text-align: center"></h2>
        <form action="/pets" method="POST">

          <h4 class="mb-3">General Information</h4>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="kind">Kind</label>
              <select class="custom-select d-block w-100" id="kind" name="kind" required>
                <%- renderKindOptions(pet.kind) %>
              </select>
              <div class="invalid-feedback">
                Please select a valid species.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="breed">Breed</label>
              <input type="text" class="form-control" id="breed" name="breed" value="<%= pet.breed %>">
              <div class="invalid-feedback">
                Valid breed is required.
              </div>
            </div>
            <div class="col-md-2 mb-2">
              <label for="age">Age</label>
              <input type="text" class="form-control" id="age" name="age" value="<%= pet.age %>">
              <div class="invalid-feedback">
                Valid age is required.
              </div>
            </div>
            <div class="col-md-2 mb-2">
              <label for="size">Size</label>
              <select class="custom-select d-block w-100" id="size" name="size" required>
                <option value="">Choose...</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid size.
              </div>
            </div>
            <div class="col-md-2 mb-2">
              <label for="Sex">Sex</label>
              <div class="custom-control custom-radio">
                <input id="male" name="sex" type="radio" class="custom-control-input" value="male" checked required>
                <label class="custom-control-label" for="male">Male</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="female" name="sex" type="radio" class="custom-control-input" value="female" required>
                <label class="custom-control-label" for="female">Female</label>
              </div>
            </div>
          </div>
        
          <hr class="mb-4">

          <h4 class="mb-3">Pet Details</h4>
          <div class="row">
            <div class="col-md-4 mb-4">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" value="<%= pet.name %>">
              <div class="invalid-feedback">
                Valid name is required.
              </div>
            </div>
            <div class="col-md-8 mb-8">
              <label for="image">Image URL</label>
              <input type="text" class="form-control" id="image" name="image" value="<%= pet.image %>">
              <div class="invalid-feedback">
                Valid image URL is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-12">
              <label for="description">Description</label>
              <textarea class="form-control rounded-0" id="description" name="description" rows="3">
                <%= pet.description %>
              </textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-12">
              <br>
              <label for="tags">Tags</label>
              <input type="text" class="form-control" id="tags" name="tags" value="<%= pet.tags %>">
              <div class="invalid-feedback">
                Valid tags are required.
              </div>
            </div>
          </div>

          <hr class="mb-4">

          <h4 class="mb-3">Location</h4>
          <div class="row">
            <div class="col-md-8 mb-8">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" name="city" value="<%= pet.city %>">
              <div class="invalid-feedback">
                Valid city is required.
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <label for="state">State</label>
              <select class="custom-select d-block w-100" id="state" name="state" required>
                <option value="">Choose...</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
          </div>
            
          <button type="Create" class="btn btn-primary btn-lg btn-block">
            Save
          </button>
        </form>
    </div>
    <a style="margin: 10px auto;" href="/dashboard">Go Back</a>
  </div>
</div>

<% include ../partials/footer %>