<% include ../partials/header %>

<%
const renderSizeOptions = function(size) {
  let result = '<option value="">Choose...</option>'
  let options = ["Small", "Medium", "Large"]
  options.forEach((option) => {
      if(size.toLowerCase() === option.toLowerCase()) {
          result += '<option value="' + option.toLowerCase() + '" selected>' + option + '</option>'
      } else {
          result += '<option value="' + option.toLowerCase() + '">' + option + '</option>'
      }
  })
  return result
}
%>

<%
const renderKindOptions = function(kind) {
  let result = '<option value="">Choose...</option>'
  let options = ["Dog", "Cat", "Bird", "Fish", "Other"]
  options.forEach((option) => {
      if(kind.toLowerCase() === option.toLowerCase()) {
          result += '<option value="' + option.toLowerCase() + '" selected>' + option + '</option>'
      } else {
          result += '<option value="' + option.toLowerCase() + '">' + option + '</option>'
      }  
  })
  return result
}
%>

<%
const renderStateOptions = function(state) {
  let result = '<option value="">Choose...</option>'
  let options = {
    AL: "Alabama",
    AK: "Alaska",
    AZ: "Arizona",
    AR: "Arkansas",
    CA: "California",
    CO: "Colorado",
    CT: "Connecticut",
    DE: "Delaware",
    DC: "District Of Columbia",
    FL: "Florida",
    GA: "Georgia",
    HI: "Hawaii",
    ID: "Idaho",
    IL: "Illinois",
    IN: "Indiana",
    IA: "Iowa",
    KS: "Kansas",
    KY: "Kentucky",
    LA: "Louisiana",
    ME: "Maine",
    MD: "Maryland",
    MA: "Massachusetts",
    MI: "Michigan",
    MN: "Minnesota",
    MS: "Mississippi",
    MO: "Missouri",
    MT: "Montana",
    NE: "Nebraska",
    NV: "Nevada",
    NH: "New Hampshire",
    NJ: "New Jersey",
    NM: "New Mexico",
    NY: "New York",
    NC: "North Carolina",
    ND: "North Dakota",
    OH: "Ohio",
    OK: "Oklahoma",
    OR: "Oregon",
    PA: "Pennsylvania",
    RI: "Rhode Island",
    SC: "South Carolina",
    SD: "South Dakota",
    TN: "Tennessee",
    TX: "Texas",
    UT: "Utah",
    VT: "Vermont",
    VA: "Virginia",
    WA: "Washington",
    WV: "West Virginia",
    WI: "Wisconsin",
    WY: "Wyoming"
  }
  let keys = Object.keys(options)

  keys.forEach((key) => {
      if(state.toLowerCase() === key.toLowerCase()) {
          result += '<option value="' + key + '" selected>' + options[key] + '</option>'
      } else {
          result += '<option value="' + key + '">' + options[key] + '</option>'
      }  
  })
  return result
}
%>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">List Your Pet</h1>
    <p class="lead">Use the form below to enter the information about your pet.</p>
  </div>
<div class="container">   
  <div class="row">
    <div class="col-md-12 order-md-1">
      <h2 style="text-align: center"></h2>
        <form action="/dashboard/<%= pet.id %>/edit" method="POST">
          <h4 class="mb-3">General Information</h4>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="kind">Kind</label>
              <select class="custom-select d-block w-100" id="kind" name="kind" required>
                <%- renderKindOptions(pet.kind) %>
              </select>
              <div class="invalid-feedback">
                Please select a valid species.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="breed">Breed</label>
              <input type="text" class="form-control" id="breed" name="breed" value="<%= pet.breed %>">
              <div class="invalid-feedback">
                Valid breed is required.
              </div>
            </div>
            <div class="col-md-2 mb-2">
              <label for="age">Age</label>
              <input type="text" class="form-control" id="age" name="age" value="<%= pet.age %>">
              <div class="invalid-feedback">
                Valid age is required.
              </div>
            </div>
            <div class="col-md-2 mb-2">
              <label for="size">Size</label>
              <select class="custom-select d-block w-100" id="size" name="size" required>
                <%- renderSizeOptions(pet.size) %>
              </select>
              <div class="invalid-feedback">
                Please select a valid size.
              </div>
            </div>
            <div class="col-md-2 mb-2">
              <label for="Sex">Sex</label>
              <div class="custom-control custom-radio">
                <input id="male" name="sex" type="radio" class="custom-control-input" value="male" checked required>
                <label class="custom-control-label" for="male">Male</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="female" name="sex" type="radio" class="custom-control-input" value="female" required>
                <label class="custom-control-label" for="female">Female</label>
              </div>
            </div>
          </div>
        
          <hr class="mb-4">

          <h4 class="mb-3">Pet Details</h4>
          <div class="row">
            <div class="col-md-4 mb-4">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" value="<%= pet.name %>">
              <div class="invalid-feedback">
                Valid name is required.
              </div>
            </div>
            <div class="col-md-8 mb-8">
              <label for="image">Image URL</label>
              <input type="text" class="form-control" id="image" name="image" value="<%= pet.image %>">
              <div class="invalid-feedback">
                Valid image URL is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-12">
              <label for="description">Description</label>
              <textarea class="form-control rounded-0" id="description" name="description" rows="3">
                <%= pet.description %>
              </textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-12">
              <br>
              <label for="tags">Tags</label>
              <input type="text" class="form-control" id="tags" name="tags" value="<%= pet.tags %>">
              <div class="invalid-feedback">
                Valid tags are required.
              </div>
            </div>
          </div>

          <hr class="mb-4">

          <h4 class="mb-3">Location</h4>
          <div class="row">
            <div class="col-md-8 mb-8">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" name="city" value="<%= pet.city %>">
              <div class="invalid-feedback">
                Valid city is required.
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <label for="state">State</label>
              <select class="custom-select d-block w-100" id="state" name="state" required>
                <%- renderStateOptions(pet.state) %>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
          </div>
            
          <button type="Create" class="btn btn-primary btn-lg btn-block">
            Save
          </button>
        </form>
    </div>
    <a style="margin: 10px auto;" href="/dashboard">Go Back</a>
  </div>
</div>

<% include ../partials/footer %>