<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">



<% include ./partials/header %>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pet Details</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-9">
            <h1><%= pet.name %></h1>
            <img src="<%= pet.image ? pet.image : '/images/pending.jpg' %>" alt="pet image" style="width:100%;" >
        </div>

        <div class="col-md-3">
                <h1>Details</h1>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Kind</h6>
                    </div>
                    <span class="text-muted"><%= pet.kind %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Breed</h6>
                    </div>
                    <span class="text-muted"><%= pet.breed %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Sex</h6>
                    </div>
                    <span class="text-muted"><%= pet.sex %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <span>Age</span>
                    <span class="text-muted"><%= pet.age %> years old</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <span>Size</span>
                    <span class="text-muted"><%= pet.size %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <span>Location</span>
                    <span class="text-muted"><%= pet.city ? pet.city + ", " + pet.state : pet.state%></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <span>Date Added</span>
                    <span class="text-muted"><%= pet.createdAt ? moment(pet.createdAt).fromNow() : "No time availible." %></span>                    
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <span>Views</span>
                    <span class="text-muted"><%= pet.views ? pet.views : 0 %></span>                    
                </li>
            </ul>
            <h4>Actions</h4>
            <ul class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Contact Owner</a>
                    <a href="/pets/<%= pet.id %>/saveforlater" class="list-group-item list-group-item-action">Save for Later</a>
                    <li class="list-group-item d-flex  lh-condensed">
                        <span style="margin-right:10px;">Share on</span>
                        <a style=" margin-right: 10px;" href="#"><i style="font-size: 30px;" class="fab fa-facebook"></i>   </a>
                        <a style="margin-right: 10px;" href="#"><i style="font-size: 30px;" class="fab fa-twitter"></i>   </a>
                        <a  href="#"><i style="font-size: 30px;"class="fab fa-instagram"></i>   </a>                  
                    </li>
                    </a>
            </ul>
    
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-9">
            <% 
            let tagArray = pet.tags ? pet.tags.split(",") : []
            tagArray.forEach(tag => { %>
                <a href="/pets?search=<%=tag.trim()%>" class="badge badge-pill badge-info"><%=tag.trim()%></a>
            <% })
            %>  
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            <h1>Description</h1>
            <p><%= pet.description %></p>
        </div>
    </div>

    <a id="comments"/>
    <div class="row">
        <div class="col-md-12">
            <h1>Comments</h1>
                <% if(comments) {
                    comments.forEach(comment => { %>
                        <div class="row">
                            <div class="col-md-2">
                                <strong><a href="/user/<%= comment.author %>/profile"><%= comment.author %></a></strong>
                            </div>
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <i><%= moment(comment.createdAt).fromNow() %></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p><%= comment.text %></p>
                            </div>
                        </div>
                        
               <%     })
                } %>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Post Comment</h1>
            <form action="/pets/<%= pet.id %>/comments" method="POST">
                <textarea class="form-control rounded-0" id="text" name="text" rows="3"></textarea>
                <button type="submit" class="btn btn-primary" style="margin-top:10px;">Post Comment</button>
            </form>
        </div>
    </div>

</div>


<% include ./partials/footer %>